<div fxLayout="column" fxFlexFill>
  <div fxFlex="10">
    <mat-toolbar color="primary" fxLayoutAlign="space-between center">
      <span>Medical Scheduling</span>
      <span *ngIf="isLoggedIn">{{username}}</span>
      <span *ngIf="isLoggedIn" (click)="logout()" class="action-icon">
        <mat-icon aria-hidden="false" aria-label="Sign out" title="Sign out">power_off</mat-icon>
      </span>
    </mat-toolbar>
  </div>
  <div fxFlex>
    <mat-card fxFill fxLayoutAlign="center stretch">
      <router-outlet></router-outlet>
    </mat-card>
  </div>
  <div fxFlex="10">
    <mat-toolbar color="primary">
      <span></span>
    </mat-toolbar>
  </div>
</div>
